* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #1f1e1e;
  --primary-txt-color: #e8e8e8dd;
  --secondary-txt-color: #377541;
  --font-family1: "IBM Plex Mono", monospace;
  --font-family2: "Roboto Mono", monospace;
}

body  {
  /* margin: 0; */
  background-color: var(--background-color);
  text-align: center;
}
.navigation-bar {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}
/* Navigation-Bar */
.nav-elements {
  display: flex;
  justify-content: center;
  color: var(--primary-txt-color);
  font-family: var(--font-family2);
  gap: 30px;
  font-size: 16px;
  box-shadow: 3px 3px 1px rgb(55, 112, 77);
  border: 1px solid var(--secondary-txt-color);
  padding: 15px;
  border-radius: 50px;
  /* width: 500px; */
}
#home,
#roadmap,
#resources,
#proj-ideas,
#about {
  transition: color 0.5s ease;
}
#home:hover,
#roadmap:hover,
#resources:hover,
#proj-ideas:hover,
#about:hover {
  color: var(--secondary-txt-color);
  text-shadow: 5px 3px 5px rgba(24, 24, 24, 0.877);
}
.heading {
  height: 100px;
  margin-top: 30px;
  font-size: 4rem;
  font-family: var(--font-family2);
  color: var(--secondary-txt-color);
  border-bottom: 1px solid black;
  letter-spacing: 5px;
  text-shadow: 0 10px 5px rgba(22, 22, 22, 0.877);
}
.about-body {
  display: flex;
  height: 70vh;
  align-items: center;
  margin: 0px 50px 0px 50px;
}
.about-container {
  height: 250px;
  width: 900px;
  border-radius: 2px;
  box-shadow: 5px 5px 1px rgb(55, 112, 77);
  border: 1px solid var(--secondary-txt-color);
  padding: 30px;
  /* margin-right: 30px; */

}
.about-text {
  color: var(--primary-txt-color);
  font-family: var(--font-family2);
  /* margin-left: 50px; */
  font-size: 1.1rem;
  text-align: left;
  letter-spacing: 3px;
  line-height: 35px;
}
.highlight-text {
  font-size: 2rem;
  color: var(--secondary-txt-color);
}
a {
  text-decoration: none;
  color: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: var(--secondary-txt-color);
  font-family: var(--font-family1);
}
.github-icon {
  color: #6d876c;
  transform: scale(1.5);
}
img{
    transform: scale(0.7);
}
